body {
    margin: 0;
    padding: 0;
    background-color: #FED6E9;
    height: 90vh;
    max-width: 98vw;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#countdown {
    font-size: 100px;
    color: #FDF5E6;
    z-index: 1;
}

/* Hearts Hearts Hearts */

.heart {
    position: absolute;
    top: 10px;
    width: 20px;
    height: 20px;
    background-image: url('heart.png');
    background-size: cover;
    animation-name: fall;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    z-index: 0;
}

.heart-pileup {
    opacity: 0.9;
}

@keyframes fall {
    0% {
        transform: translate(0, -10px) rotate(0deg);
    }
    100% {
        transform: translate(var(--rx, 0), calc(var(--ry, 0) * 100vh)) rotate(360deg);
        opacity: 0;
        top: 95vh;
    }
}

/* Sponge Bob */

.playground {
    width: 500px;
}

/* Set the keyframes for the SpongeBob animation */
@keyframes spongebob-walk {
    0% {
        left: 0;
    }
    25% {
        left: 30%;
    }
    50% {
        left: 40%;
    }
    75% {
        left: 70%;
    }
    100% {
        left: 10%;
    }
}

/* Define the styles for the SpongeBob container */
#spongebob-container {
    width: 19.05px;
    height: 35.25px;
    background-image: url('spongebob.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: spongebob-walk;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

/* Adjust the position of the SpongeBob container as needed */
#spongebob-container {
    position: relative;
    top: 20px;
    left: 0;
}
@keyframes patrick-walk {
    0% {
        left: 95%;
    }
    25% {
        left: 30%;
    }
    50% {
        left: 70%;
    }
    75% {
        left: 20%;
    }
    90% {
        left: 60%;
    }
    100% {
        left: 0;
    }
}

#patrick-container {
    width: 19.05px;
    height: 35.25px;
    background-image: url('patrick.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: patrick-walk;
    animation-duration: 20s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

/* Adjust the position of the SpongeBob container as needed */
#patrick-container {
    position: absolute;
    bottom: 0;
    left: 0;
}
